body {
  padding-top: 70px;
}

#messages {
  height: 600px;
  margin: 10px;
  padding: 10px;
  overflow-y: scroll;
}

.bot-list {
  padding-top: 80px;
}

.uploadFile {
  background-color: #CCCCCC;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.custom-container {
  padding-left: 200px;
  padding-right: 200px;
}